.main-logo {
    width: 5rem;
}

.logo-title {
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;

}


body {
    margin-top: 2rem;
    background-color: #ffe9c5;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.theme-slider {
    left: 3%;
    position: fixed;
}

.search-bar {
    position: fixed;
    right: 5%;
    padding-top: 5px;
}

.search-bar button {
    position: fixed;
    right: 2%;
    top: 4.7%;
}

#top-hr {
    width: 100%;
    /*position: fixed;*/
    background-color: #00005c;
    left: 0px;
}

.darktheme {
    background-color: #27496d;
    color: white;

}

.input-area {
    position: fixed;
    overflow-y: scroll;
    max-height: 70%;
    min-width: 99%;
    left: 10px;
    top: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}