.header-main{
    position: fixed;
}
.main-logo {
    width: 5rem;
}

.logo-title {
    position: fixed;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    left: 45%;

}
@media (max-width: 800px){
    .header-main #top-hr {
        display: none;
    }
    .logo-title {
        position: fixed;
        text-align: center;
        font-size: 1.4rem;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        left: 37%;
    
    }

}

body {
    margin-top: 2rem;
    background-color: #ffe9c5;
}

footer{
    position: fixed;
    bottom: 1%;
    text-align: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.theme-slider {
    left: 3%;
    position: fixed;
}

.search {
    display: inline;
    position: fixed;
    right: 5%;
    padding-top: 5px;
}


#top-hr {
    width: 100%;
    left: 0px;
    height: 2px;
    position: fixed;
    top: 30%;
    background-color: white;
}

.darktheme {
    background-color: #27496d;
    color: white;
}


#input-area {
    position: fixed;
    top: 32%;
    overflow-y: scroll;
    max-height: 70%;
    min-width: 99.5%;
    /* left: 10px; */
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    bottom: 3%;
}

.individual-data{
    color: #FF4500;
    display: inline-block
}

.data-inside{
    color: rgb(17, 161, 17);
    margin-left: 4em;
}

.text-collapse-btn{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        float: left;
}
.collapse{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 10px; 
}
.btn-after{
    background-color: #2196F3;
}
